<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <authentication mode="None" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="index.html" />
        <add value="index.html" />
        <add value="жабки.png" />
        <add value="rules.docx" />
        <add value="blog.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>